.slider-container {
    position:relative;
    height: 100%;
    width: 100%;
    overflow:hidden;
  } 
 .slide {
    position:absolute;
    width: 100%;
    height: 100%;
  }
  .btn-left{
    top: 130px;
    right:  290px;
  }
  .btn-right{
    top: 130px;
    left: 290px;
  }
  .btn-icon{
      background-color: transparent;
      columns: #d5d5d5;
      
  }
  .ngchart {
    text-align: left;
    margin: 0px auto;

  }
  .alarm-1{
    color: #a8385d;
  }
  .alarm-2{
    color: #7aa3e5;
  }
  .alarm-3{
    color: #a27ea8;
  }