body { font-family: sans-serif; }

.scene {
  perspective: 600px;
  margin: 5% auto;
  border:1px solid black;
  overflow: visible;
  width: 657px;
  height: 306px;
  
}
.card {
    position: absolute;    
    width: 100%;
    height: 92%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
   
}
.card__face {
    position: absolute;
   height: 100%;
    width: 100%;
        background: #d2d2d2;
        text-align: center;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        /* Degisim */
        
    position: relative ;
    overflow:hidden;
}

.card__face--front {
  background: #d2d2d2;
}

.card__face--back {   
    position: absolute ;
    top:0;
    color: black;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card.voted {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}


.slider-container {
    position:relative;
    width: 100%;
    height: 100%;
    overflow:hidden;
    border: 2px solid;
  } 
 .slide {
    position:absolute;
  }

  .btn-icon{
    background-color: transparent;
    color: black;
    columns: #d5d5d5;
    
}